body{
  background-color: gainsboro;
}

header{
  height: 100px;
  background-color: blanchedalmond;
  display:block;
  width:70%;
  padding:auto;
  margin: auto;
}
header h1{
  text-align: center;
  font-family: 'Zilla Slab Highlight', cursive;
  padding-top: 20px;
  
}

/* header ul li{
  display: inline;
  float:right;
} */

#Seattle h2{
  font-family: 'Zilla Slab Highlight', cursive;
}
#Seattle{
  background-image: url(https://www.jordanyp.com/img/cats/restaurants.jpg);
  height: 500px;
  width: 70%;
  color: white;
  font-size: 25px;
  /* font-family: 'Arial', cursive; */
  font-family: 'Open Sans', sans-serif;
  display:block;
  padding: auto;
  margin: auto;
}
#Seattle a{
  text-decoration: none;
  color:whitesmoke;
}
#Seattle button{
  height: 50px;
  width: 100px;
  background-color: tomato;
  font-family: 'Open Sans', sans-serif;
  display: block;
}


#Tokyo{
  background-image: url(https://www.jordanyp.com/img/cats/restaurants.jpg);
  height: 500px;
  width: 70%;
  color: white;
  font-size: 25px;
  padding: auto;
  margin: auto;
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
}
#Tokyo h2{
  font-family: 'Zilla Slab Highlight', cursive;
}
#Tokyo a{
  text-decoration: none;
  color:whitesmoke;
}
#Tokyo button{
  height: 50px;
  width: 100px;
  background-color: tomato;
  display: block;
}



#Dubai{
  background-image: url(https://www.jordanyp.com/img/cats/restaurants.jpg);
  height: 500px;
  width: 70%;
  color: white;
  font-size: 25px;
  padding: auto;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
#Dubai a{
  text-decoration: none;
  color:whitesmoke;
  display: block;
}
#Dubai h2{
  font-family: 'Zilla Slab Highlight', cursive;
}
#Dubai button{
  height: 50px;
  width: 100px;
  background-color: tomato;
  display: block;
}


#Paris{
  background-image: url(https://www.jordanyp.com/img/cats/restaurants.jpg);
  height: 500px;
  width: 70%;
  color: white;
  font-size: 25px;
  padding: auto;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
#Paris h2{
  font-family: 'Zilla Slab Highlight', cursive;
}
#Paris a{
  text-decoration: none;
  color:whitesmoke;
}
#Paris button{
  height: 50px;
  width: 100px;
  background-color: tomato;
  display: block;
}

#Lima{
  background-image: url(https://www.jordanyp.com/img/cats/restaurants.jpg);
  height: 500px;
  width: 70%;
  color: white;
  font-size: 25px;
  padding: auto;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
#Lima h2{
  font-family: 'Zilla Slab Highlight', cursive;
}
#Lima a{
  text-decoration: none;
  color:whitesmoke;
}
#Lima button{
  height: 50px;
  width: 100px;
  background-color: tomato;
  display: block;
}
fieldset{
  background-color: rgb(139, 203, 219);
  width: 50%;
  padding:auto;
  margin: auto;
}
fieldset label{
  color:whitesmoke;
  font-size: 40px;
}

fieldset input {
  width: 150px;
  padding:20px;
}

#parent h1{
  text-align: center;
}
#parent table{
  text-align: center;
  padding:auto;
  margin: auto;
}

/*  */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: teal;
    color: whitesmoke;
    padding: 10px;
  }


  #image{
    display: block;
    /* width:500px;
    height:250px; */
    padding: auto;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #image img{
    padding-bottom: 75px;
    width:350px;
    height:250px;
    border:4px solid burlywood;
  }